.page-wrapper{
    background: rgb(242,209,248);
    background: linear-gradient(90deg, rgb(242 209 248) 0%, rgb(160 212 221 / 65%) 100%, rgb(245 227 247 / 52%) 100%);
    }
.register-container img{  
    width: 5rem;
}  
.success-container {
    display:grid; 
    text-align:center; 
    justify-items:center; 
}  
.success-container img{
    height:25rem;
}
.top-message {
    font-size:1.3rem; 
    font-weight:bold;
    
} 
.name-container{
    display: flex;  
    gap:1rem; 
    font-size:17px;  
   
} 

.image-container
{
    margin-bottom: 20px; 
}
.border-image{
    border: 1px solid grey;
    width: 100%; 
    display:flex; 
    justify-content:center; 
    align-items:center; 
    margin-bottom:20px;

}
@media only screen and (max-width: 1023px)  { 
  
    .form-item{
        display: flex; 
        flex-direction: column;  
    }  
    .success-container {
        margin: 0 auto;
    } 
   
}